html, body {
    width:100vw;
    height: 100vh;
}


.white {
    background-color: white;
    margin: 5px;
}
.yellow{
    background-color: yellow;
    margin: 5px;
}
.red{
    background-color: red;
    margin: 5px;
}
#container {
    background-color: blue;
    height: 90vh;
    width: 70vw;
    display: grid;
    grid-auto-flow: column;
}
