html, body {
    width:100vw;
    height: 100vh;
}

.white, .yellow, .red{
    margin: 5px;
    border-radius: 50%;
}
.white {
    background-color: white;
    
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
#container {
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    height: 80vh;
    width: 50vw;
    display: grid;
    grid-auto-flow: column;
}
#wining-message{
    color:blue;
    text-align: center;
}
