* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-img:hover {
  animation-name: expandGameImg;
  animation-duration: 1.5s;
}

@keyframes expandGameImg {
  0% {
    width: 20vw;
  }

  100% {
    width: 22vw;
  }
}

figcaption {
  font-size: 2rem;
}

#games-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.game-img,
.unavailable-game {
  width: 20vw;
  margin-top: 10vh;

}

figcaption {
  text-align: center
}

.hidden {
  display: none
}

.unavailableTooltip {
  position: relative;
}

.unavailableTooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: #edf9fe;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1.5rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30vh;

}

.unavailableTooltip:hover .tooltiptext {
  visibility: visible;
}